@model IEnumerable<mvc.Models.Roles>
@{
    ViewBag.Title = "Roles";
}
@Html.ActionLink("Nuevo", "Nuevo", null, new {@class="btn btn-primary" })
<table class="table-responsive">
	<thead class="active">
		<tr>
			<th scope="col">
				Rol
			</th>
		</tr>
		@foreach (var i in Model)
		{
	<tr>
		<td scope="row">
			@i.Rol
		</td>
		<td scope="row">
			@Html.ActionLink("Editar", "Editar", new { @Id = i.Id }, new { @class = "btn btn-outline-primary" })
		</td>
	</tr>
		}
	</thead>
</table>

