@using mvc.Models;
@model IEnumerable<mvc.Models.ServiciosDelegacionPrecios>
<div class="table-responsive">
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">
					Precio:
				</th>
			</tr>
			@foreach (var i in Model)
			{
				<tr>
					<td>
						@String.Format("{0:C}", @i.PrecioSinIva)
					</td>
					<td>
						@Html.ActionLink("Editar", "Editar", new { @Id = i.Id }, new { @class = "btn btn-outline-primary" })
					</td>
				</tr>
			}
		</thead>
	</table>
</div>