@model IEnumerable<mvc.Models.Users>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<table>
	<tr>
		<th>Usuario</th>
		<th>Correo</th>
		<th>Rol</th>
		<th>Delegación</th>
	</tr>
	@foreach (var i in Model)
	{
<tr>
	<td>
		@i.Usuario
	</td>
	<td>
		@i.Correo
	</td>
	<td>
		@i.IdRol
	</td>
	<td>
		@i.IdDelegacion
	</td>
</tr>
	}
</table>