@model IEnumerable<mvc.Models.Paises>
@using mvc.Models;
@{
	ViewBag.Title = "Cruz Roja";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Paises</h2>
<b>@Html.ActionLink("Nuevo", "Nuevo", null, new { @class = "btn btn-outline-info" })</b>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">
				Pais
			</th>
		</tr>
		@foreach (var modelo in Model)
		{
			<tr>
				<td scope="row">
					@modelo.Pais
				</td>
				<td scope="row">
					@Html.ActionLink("Editar", "Editar", new { @Id = modelo.Id }, new { @class = "btn btn-outline-primary" })
				</td>
			</tr>
		}
	</thead>
</table>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		//dataLayer = [{
		//	'pagina': 'PAISES',
		//	'url': 'PAISES',
		//	'event': 'paginavista'
		//}];
	});
</script>